{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Department Information</h1>
    <ul>
        {% for department in department %}
            <li>{{ department.name }}</li>
        {% endfor %}
    </ul>
    {% csrf_token %}
    <form id="departmentForm">
        {% csrf_token %}
        <style>
            fieldset {
              background-color: #eeeeee;
            }
            
            legend {
              background-color: gray;
              color: white;
              padding: 5px 10px;
            }
            
            input {
              margin: 5px;
            }
        </style>
        <fieldset>
            <legend >Add department here : </legend>
            <label for="name">Department Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <input type="submit" value="Add Department">
        
        </fieldset>    
        
    </form>
<script>
    document.getElementById('departmentForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const jsonData = {
        "name": formData.get("name") // Get the value from the input field
    };

        const apiUrl = '/api/departments/'; // Correct API endpoint
        console.log(JSON.stringify(jsonData))
        fetch(apiUrl, {
            method: 'POST',
            headers: {
                "X-CSRFToken": '{{csrf_token}}' ,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); // Handle response if needed
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}