{% extends 'inquiry/inquiry_base.html' %}
{% load static %}
{% block page_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/datatables-select/css/select.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-select/css/dataTables.dataTables.css' %}">
    <style>
        .dataTables_wrapper .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .dataTables_wrapper .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_filter {
            margin: 0;
        }

        .dataTables_wrapper .dt-buttons {
            margin-left: auto;
        }

        .dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_info {
            margin: 0;
        }


    </style>
{% endblock page_css %}

{% block sub-content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1>Registration List</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-primary">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dtable2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th></th>

                                    <th>Date / Id</th>
                                    <th>status</th>
                                    <th>Customer Name</th>
                                    <th>Customer Gender</th>
                                    <th>Customer Address</th>
                                    <th>Customer DOB</th>
                                    <th>Customer Contact Number</th>
                                    <th>Customer Emergency Number</th>
                                    <th>Package Booked</th>
                                    <th>Package Cost</th>
                                    <th>Package Services</th>
                                    <th>Therapy Package Validity</th>
                                    <th>GYM Package Validity</th>
                                    <th>Created By</th>
                                    <th>Received Amount</th>
                                    <th>Due Amount</th>
                                    <th>Receipt Bill No</th>
                                    <th>Accounting By</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for registration in registration reversed %}
                                    <tr>

                                        <td></td>

                                        <td> {{ registration.registration_date |date }}<br>
                                            {{ registration.registration_id }}</td>
                                        <td>{{ registration.registration_status }}<br>{{ registration.client_status }}
                                        </td>
                                        <td>{{ registration.customer }}</td>
                                        <td>{{ registration.customer.gender }}</td>
                                        <td>{{ registration.customer.address }}</td>
                                        <td>{{ registration.customer.date_of_birth }}</td>
                                        <td>{{ registration.customer.contact_number }}</td>
                                        <td>{{ registration.customer.social_number }}</td>
                                        <td>{{ registration.package_booked }}</td>
                                        <td>{{ registration.package_cost }}</td>
                                        <td>{{ registration.package_service }}</td>
                                        <td>{{ registration.therapy_package_start }}
                                            to {{ registration.therapy_package_end }}</td>
                                        <td>{{ registration.gym_package_start }}
                                            to {{ registration.gym_package_end }}</td>
                                        <td>{{ registration.employee.name }}</td>
                                        <td>{{ registration.received_amount }}</td>
                                        <td>{{ registration.due_amount }}</td>
                                        <td>{{ registration.receipt_bill_no }}</td>
                                        <td>{{ registration.account_by.name }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-block btn-outline-secondary dropdown-toggle"
                                                        data-toggle="dropdown">Action
                                                </button>

                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item"
                                                       href="{% url 'registration:edit_registration_form' %}?id={{ registration.id }}">
                                                        Edit</a>
                                                    <a class="dropdown-item" href="#"
                                                       data-toggle="modal"
                                                       data-target="#trash_transaction"
                                                       data-id="{{ registration.id }}">Trash

                                                    </a>

                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"
                                                       href="{% url 'registration:registration_print' registration.pk %}">Print
                                                    </a>
                                                    <a class="dropdown-item"
                                                       href="{% url 'registration:registration_to_rebook_form' %}?id={{ registration.pk }}">
                                                        Re-book
                                                    </a>

                                                </div>
                                            </div>
                                            {% comment %} <div class="btn-group">

                                                 <a href="{% url 'inquiry:details_inquiry' %}?id={{ inquiry.id }}"
                                                   style="margin-right: 2px">
                                                    <button title="Details" type="button" class="btn btn-warning">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'registration:edit_registration_form' %}?id={{ registration.id }}"
                                                   style="margin-right: 2px">
                                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                                            title="Edit">
                                                        <i class="fa fa-edit"></i></button>
                                                </a>
                                                <a style="margin-right: 2px">
                                                    <button title="Trash" type="button" class="btn btn-danger"
                                                            data-toggle="modal"
                                                            data-target="#trash_transaction"
                                                            data-id="{{ registration.id }}">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </a>

                                                <a href="{% url 'registration:registration_print' registration.pk %}"
                                                   target="_blank"
                                                   style="margin-right: 2px">
                                                    <button title="Print" type="button"
                                                            class="btn btn-info">
                                                        <i class="fa fa-print"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'registration:registration_to_rebook_form' %}?id={{ registration.pk }}"

                                                   style="margin-right: 2px">
                                                    <button title="Re-book" type="button"
                                                            class="btn btn-file">
                                                        <i class="fa fa-exchange-alt"></i>
                                                    </button>
                                                </a>
                                            </div>{% endcomment %}
                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Date / Id</th>
                                    <th>status</th>
                                    <th>Customer Name</th>
                                    <th>Customer Gender</th>
                                    <th>Customer Address</th>
                                    <th>Customer DOB</th>
                                    <th>Customer Contact Number</th>
                                    <th>Customer Emergency Number</th>
                                    <th>Package Booked</th>
                                    <th>Package Cost</th>
                                    <th>Package Services</th>
                                    <th>Therapy Package Validity</th>
                                    <th>GYM Package Validity</th>
                                    <th>Created By</th>
                                    <th>Received Amount</th>
                                    <th>Due Amount</th>
                                    <th>Receipt Bill No</th>
                                    <th>Accounting By</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="trash_transaction">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Trash registration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" action="{% url 'registration:trash_registration' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="registration_id"> </label><input type="text" hidden class="form-control"
                                                                     id="registration_id"
                                                                     name="registration_id">
                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Move To Trash</button>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock sub-content %}
{% block page_script %}
    <!-- DataTables  & Plugins -->
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-select/js/select.bootstrap4.min.js' %}"></script>

    <script>
        $(function () {
            var table = $("#dtable2").DataTable({
                "responsive": true,
                "lengthChange": false,
                "dom": '<"top"fB>rt<"bottom"ilp><"clear">',
                "buttons": [
                    {
                        text: 'Delete Selected',
                        className: 'btn btn-primary delete-selected',
                        action: function () {
                            var selectedRows = table.rows({selected: true}).data();
                            var ids = [];
                            for (var i = 0; i < selectedRows.length; i++) {
                                ids.push(selectedRows[i][1]); // Assuming the ID is in the second column
                            }
                            if (ids.length > 0) {
                                // Implement your delete logic here
                                console.log('Delete these IDs:', ids);
                                // Example: Make an AJAX call to delete
                                // $.post('/delete-url/', { ids: ids }, function(response) {
                                //     table.rows('.selected').remove().draw(false);
                                // });
                            } else {
                                alert('No rows selected');
                            }
                        },
                        enabled: false
                    },
                    {
                        extend: 'collection',
                        text: 'Info',
                        className: 'btn btn-primary',
                        buttons: [
                            {
                                extend: 'colvisGroup',
                                text: 'Customer info',
                                show: [1, 3, 4, 5, 6, 7, 8, 19],
                                hide: [2, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
                            },
                            {
                                extend: 'colvisGroup',
                                text: 'Package info',
                                show: [1, 3, 9, 10, 11, 12, 13, 19],
                                hide: [2, 4, 5, 6, 7, 8, 14, 15, 16, 17, 18]
                            },
                            {
                                extend: 'colvisGroup',
                                text: 'Administrative info',
                                show: [1, 14, 15, 16, 17, 18, 19],
                                hide: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                            },
                            {
                                extend: 'colvisGroup',
                                text: 'Show all',
                                show: ':hidden'
                            },

                        ]
                    },
                    {
                        extend: 'colvis',
                        text: 'Column visibility',
                        className: 'btn btn-secondary',
                        postfixButtons: ['colvisRestore']
                    }, {
                        extend: 'collection',
                        text: 'Export',
                        className: 'btn btn-primary',
                        buttons: [
                            {extend: 'copy', className: 'btn btn-primary'},
                            {extend: 'csv', className: 'btn btn-primary'},
                            {extend: 'excel', className: 'btn btn-primary'},
                            {extend: 'pdf', className: 'btn btn-primary'},
                            {extend: 'print', className: 'btn btn-primary'}
                        ]
                    },


                ],
                "columnDefs": [
                    {orderable: false, className: 'select-checkbox', targets: 0},
                    {targets: -2, visible: false},
                    {targets: -3, visible: false},
                    {targets: -4, visible: false},
                    {targets: -6, visible: false},
                    {targets: -7, visible: false},
                    {targets: -8, visible: false},
                    {targets: -9, visible: false},
                    {targets: -12, visible: false},
                    {targets: -14, visible: false},
                    {targets: -15, visible: false}
                ],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },

            });

            table.on('select deselect', function () {
                var selectedRows = table.rows({selected: true}).count();
                table.button(0).enable(selectedRows > 0);
                if (selectedRows > 0) {
                    $('.delete-selected').show();
                } else {
                    $('.delete-selected').hide();
                }
            });

            // Initially hide the "Delete Selected" button
            $('.delete-selected').hide();

            // Append buttons to the DataTable container
            table.buttons().container().appendTo('#id_datatable_wrapper .col-md-6:eq(0)');
        });
    </script>



    <script>
        $(function () {
            $('#trash_transaction').on('show.bs.modal', function (event) {
                document.getElementById("registration_id").value = $(event.relatedTarget).data('id');
            });
        });
    </script>
{% endblock page_script %}