{% extends 'base.html' %}
{% load static %}
{% block top-menu-content %}

    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'inquiry:inquiry_list' %}" class="nav-link">Inquiry List</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'inquiry:add_inquiry_form' %}" class="nav-link">Add New Inquiry</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'inquiry:add_inquiry_form' %}" class="nav-link">आलु</a>
    </li>
{% endblock %}

{% block content %}
    {% block sub-content %}

    {% endblock %}

{% endblock %}