{% extends 'customer/customer_base.html' %}
{% load static %}
{% block page_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/datatables-select/css/select.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-select/css/dataTables.dataTables.css' %}">
    <style>
        .dataTables_wrapper .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .dataTables_wrapper .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_filter {
            margin: 0;
        }

        .dataTables_wrapper .dt-buttons {
            margin-left: auto;
        }

        .dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_info {
            margin: 0;
        }


    </style>
{% endblock page_css %}

{% block sub-content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-secondary">
                     <div class="card-header">
                                <h3 class="card-title">Customer List</h3>
                            </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dtable" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in customers reversed %}
                                    <tr>

                                        <td></td>
                                        <td>{{ customer.name }} </td>
                                        <td>{{ customer.address }}</td>
                                        <td>{{ customer.contact_number }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-block btn-outline-secondary dropdown-toggle"
                                                        data-toggle="dropdown">Action
                                                </button>

                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item"
                                                       href="{% url 'customer:customer_detail' customer.id %}">Details</a>
                                                    <a class="dropdown-item"
                                                       href="{% url 'customer:edit_customer' customer.id %}">Edit</a>
                                                    <a class="dropdown-item" href="#"
                                                       data-toggle="modal"
                                                       data-target="#trash_transaction"
                                                       data-id="{{ customer.id }}">Trash

                                                    </a>

                                                  {% comment %}  <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"
                                                       href="{% url 'registration:inquiry_to_registration_form' %}?id={{ inquiry.id }}">Register
                                                        to Client</a>{% endcomment %}

                                                </div>
                                            </div>

                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                   <th></th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="trash_transaction">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Trash Inquiry</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" action="{% url 'customer:trash_customer'  %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="trash_id"> </label><input type="text" hidden class="form-control" id="trash_id"
                                                              name="trash_id">
                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Move To Trash</button>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock sub-content %}
{% block page_script %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-select/js/select.bootstrap4.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            var table = $('#dtable').DataTable({
                lengthMenu: [10, 20, 50, 100],
                responsive: true, lengthChange: false, autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                dom: '<"top"fB>rt<"bottom"ilp><"clear">',
                buttons: [
                    {
                        text: 'Delete Selected',
                        className: 'btn btn-primary delete-selected',
                        action: function () {
                            var selectedRows = table.rows({selected: true}).data();
                            var ids = [];
                            for (var i = 0; i < selectedRows.length; i++) {
                                ids.push(selectedRows[i][1]); // Assuming the ID is in the second column
                            }
                            if (ids.length > 0) {
                                // Implement your delete logic here
                                console.log('Delete these IDs:', ids);
                                // Example: Make an AJAX call to delete
                                // $.post('/delete-url/', { ids: ids }, function(response) {
                                //     table.rows('.selected').remove().draw(false);
                                // });
                            } else {
                                alert('No rows selected');
                            }
                        },
                        enabled: false
                    },
                    {
                        extend: 'collection',
                        text: 'Export',
                        className: 'btn btn-primary',
                        buttons: [
                            {
                                extend: 'copy',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'csv',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'excel',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'pdf',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'print',
                                className: 'btn btn-primary'
                            }
                        ]
                    },
                    {
                        extend: 'colvis',
                        className: 'btn btn-primary'
                    }, {
                        extend: 'collection',
                        text: 'Table Info',
                        className: 'btn btn-primary',
                        buttons: [
                            {
                                extend: 'colvisGroup',
                                text: 'Customer info',
                                show: [2, 3, 4, 5, 8],
                                hide: [1, 6, 7]
                            },
                            {
                                extend: 'colvisGroup',
                                text: 'Inquiry info',
                                show: [1, 2, 6, 7, 8],
                                hide: [4, 5]
                            },
                            {
                                extend: 'colvisGroup',
                                text: 'Show all',
                                show: ':hidden'
                            },

                        ]
                    },
                ]
            });

            table.on('select deselect', function () {
                var selectedRows = table.rows({selected: true}).count();
                table.button(0).enable(selectedRows > 0);
                if (selectedRows > 0) {
                    $('.delete-selected').show();
                } else {
                    $('.delete-selected').hide();
                }
            });

            // Initially hide the "Delete Selected" button
            $('.delete-selected').hide();
        });


    </script>
    <script>
        $(function () {
            $('#trash_transaction').on('show.bs.modal', function (event) {
                document.getElementById("trash_id").value = $(event.relatedTarget).data('id');
            });
        });
    </script>
{% endblock page_script %}