{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Employee Information</h1>
<ul>
    {% for employee in employee %}
        <li>{{ employee.name }}</li>
    {% endfor %}
</ul>

<script>
document.getElementById('employeeForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const jsonData = {
    "name": formData.get("name") // Get the value from the input field
};

    const apiUrl = '/vidhyas_api/'; // Correct API endpoint
    console.log(JSON.stringify(jsonData))
    fetch(apiUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(jsonData),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data); // Handle response if needed
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}