{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Employee Information</h1>
<table>
    {% csrf_token %}
    <tr>
        <th>SN</th>
        <th>Employee Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for employee in employee %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ employee.name }}</td>
        <td><button class="edit-button" data-id="{{ employee.id }}">Edit</button></td>
        <td><button class="delete-button" data-id="{{ employee.id }}">Delete</button></td>
    </tr>
    {% endfor %}
</table>

<!-- Add Employee Button -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#">
    LCreate new employee
  </button>

  <div class="modal fade" id="addEmployee">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Default Modal</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}
