{% extends 'base.html' %}
{% load static %}
{% block top-menu-content %}

    {% comment %}  <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
    </li>{% endcomment %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'diet:create_logbook_and_stats' %}" class="nav-link">Log Book</a>
    </li>  <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'diet:bmi' %}" class="nav-link">Body Composition</a>
    </li>


{% endblock top-menu-content %}

{% block content %}
    {% block sub-content %}

    {% endblock sub-content %}

{% endblock content %}
